.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.About h2 {
  text-align: center;
  color: #0dcaf0;
  margin-bottom: 30px;
  font-size: 56px;
}

.About .btn {
  display: block;
  margin: 140px;
  border-radius: 50%;
  padding: 25px;
  transition: all 200ms ease-in-out;
}

.About .btn:hover {
  background: #01ffdd;
  cursor: pointer;
}

.About p {
  text-align: left;
  line-height: 1.5;
}

.About img {
  max-width: 100%;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .About h2 {
    font-size: 40px;
  }

  .About p {
    font-size: 16px;
  }
  .About .btn {
    margin: 80px;
  }
}
