.Projects h2 {
  text-align: center;
  color: #0dcaf0;
  font-size: 56px;
  margin-bottom: 50px;
}
.Projects h3 {
  font-size: 24px;
  margin: 10px;
}

.Projects img {
  max-width: 100%;
  border-radius: 10%;
}

.Projects img:hover {
  transform: scale(1.5);
}

.Projects p {
  font-size: 18px;
  margin-bottom: 50px;
}

.Projects .btn {
  position: relative;
  left: -490px;
  top: -450px;
  margin: 50%;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.Projects .btn:hover {
  background: #01ffdd;
  cursor: pointer;
}

@media (max-width: 900px) {
  .Projects h2 {
    font-size: 40px;
  }

  .Projects h3 {
    font-size: 21px;
  }

  .Projects img {
    max-width: 80%;
  }

  .Projects p {
    font-size: 16px;
  }

  .Projects .btn {
    position: relative;
    left: -20px;
    top: -10px;
    margin: 20px;
    border-radius: 50%;
  }
}

@media (max-width: 900px) and (min-width: 401px) {
  .Projects .btn {
    position: relative;
    left: -10px;
    top: -30px;
    margin: 20px;
    border-radius: 120%;
  }
}
