.Tools h2 {
  text-align: center;
  color: #0dcaf0;
  font-size: 25px;
}

.Tools .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 50px;
}

.Tools .fa-html5 {
  color: #dd4b25;
}

.Tools .fa-css3-alt {
  color: #2449d8;
}

.Tools .fa-square-js {
  color: #e4d04b;
}

.Tools .fa-react {
  color: #5ccfee;
}

.Tools .fa-bootstrap {
  color: #8012f2;
}

.Tools .fa-square-github {
  color: #1a1d21;
}

@media (max-width: 900px) {
  .Tools h2 {
    font-size: 18px;
  }
}
